@mixin snake {
    &--head {
        @extend .snake;
        background-color: goldenrod;
        // width: 20px;
        // height: 20px;
    }
    &--body {
        @extend .snake;
        background-color: grey;
        // width: 30px;
        // height: 15px;
    }
} 

@mixin reward {
    &--food {
        @extend .reward;
        background-color: red;
    }
}
